<ul>
    {% for item in menu.get_items %}
        <li class="{{ item.classes | join(' ') }}">
            <a href="{{ item.get_path }}"
                    {% if item.get_children %}
                        class="dropdown-toggle"
                    {% endif %}
                    >{{ item.title }}</a>
            {% if item.get_children %}
                {% include('_menus/_submenu.twig') with {'item': item} %}
            {% endif %}
        </li>
    {% endfor %}
</ul>