@import "_colors/_color-palette";

$primary-color: $teal-a700;
$secondary-color: $teal-a100;

$highlight-color-1: $red-400;
$highlight-color-2: $pink-400;

$white: #fff;
$black: #000;

$light-gray: $grey-100;
$middle-gray: $grey-400;
$dark-gray: $grey-900;

$body-background: $grey-300;