@import "../../bower_components/susy/sass/susy";

$susy: (
    flow: ltr,
    math: fluid,
    output: float,
    gutter-position: split,
    container: 50em,
    container-position: center,
    columns: 12,
    gutters: 0.25,
    column-width: false,
    global-box-sizing: border-box,
    last-flow: to,
);


.container{
    @include container;
    padding: 0 0.75em;
    @include breakpoint($breakpoint-medium) { padding: 0; }
}

.row{ @extend %clear; }

.column, %column{ 
    width: 100%;
    margin: 0;

    margin-bottom: 0.5em;
    @include breakpoint($breakpoint-medium) { margin-bottom: 0; }
}

.one-third, %one-third{ @include breakpoint($breakpoint-medium) { @include span(4 of 12); }  }
.one-quarter, %one-quarter{ @include breakpoint($breakpoint-medium) { @include span(3 of 12); }  }
.one-half, %one-half{ @include breakpoint($breakpoint-medium) { @include span(6 of 12); }  }
.two-thirds, %two-thirds{ @include breakpoint($breakpoint-medium) { @include span(8 of 12); }  }