html, body{
	max-width: 100%;
	overflow-x: hidden;
}

body{
	background-color: #ddd;
	background-image: url(../img/white_carbonfiber.png);
	
	@include breakpoint($breakpoint-medium) {
		background-image: url(../img/white_carbonfiber_@2X.png);
	}
}


//wp-admin-bar
.admin-bar{

	._global-header{
		@include breakpoint(783px) { top:32px; }
	}
}