{% include 'html-header.twig' %}  
{% block head %}
{% endblock %}  
</head>
    <body class="{{body_class}}" data-source="base.twig">
    <div class="wrapper">
        <header class="_global-header" role="banner" id="top">
            {% block header %}
                {% include('_globals/_global-header-logo.twig') %}
                {% include('_globals/_global-header-navigation.twig') %}
            {% endblock %}
        </header>

        <main class="_global-main {{ post.class }}" role="main" id="main">
            {% block content %}
                Sorry, no content
            {% endblock %}
        </main>

        <footer class="_global-footer" role="contentinfo">
            {% include '_globals/_global-footer.twig' %}
        </footer>
    </div>
    {% include('non-critical-assets.twig') %}
    {{ wp_footer }}
    </body>
</html>