{% extends "base.twig" %}

{% block content %}

    <h2>Front Page</h2>

    <div class="_content-page">
        {% include('_modules/_module-entry-header.twig') %}
        {% include('_modules/_module-entry-content.twig') %}
        {% include('_modules/_module-entry-footer.twig') %}
    </div>

{% endblock %}