{% extends "base.twig" %}

{% block content %}

    {% include('_content/_content-jobs.twig') with {'posts' : jobs} %}

    <div class="_content-page">
        {% include('_modules/_module-entry-header.twig') %}
        {% include('_modules/_module-entry-content.twig') %}
        {% include('_modules/_module-entry-footer.twig') %}
    </div>

{% endblock %}