<article class="_snippet-service service service--med" itemscope itemtype="http://schema.org/ProfessionalService">
    <img src="{{ TimberImage(service.get_thumbnail | default(placeholder(277,138))) }}" alt=""/>
    <h4>
        <a href="{{ service.link }}">{{ service.post_title }}</a>
    </h4>

    <p>{{ service.post_excerpt }}</p>

    {% include('_snippets/_snippet-button.twig') with {'type': 'primary', 'label': _e('Learn more'), 'url':
    TimberPost(service.read_more_page) } %}
</article>