<article class="_content-agentur-team-member" itemscope itemtype="http://schema.org/Person">
    <h4 class="_content-agentur-team-member-name" itemprop="name">{{ person.post_title }}</h4>
    <div class="_content-agentur-team-member-position" itemprop="jobtitle">{{ person.get_field('jobtitle') }}</div>
</article>