<article class="_content-agentur-team-member" itemscope itemtype="http://schema.org/Person">
    <h4 class="_content-agentur-team-member-name" itemprop="name"><a href="{{ person.get_path }}">{{ person.title
            }}</a></h4>
</article>