._global-sidebar{

	@extend .five;
	@extend .columns;
	@extend .omega;

	font-family: $primary-font;
	font-size: 75%;
	
	.widget{}

	.widget-title{
		font-family: $primary-font;
		color: $primary-color;
		font-weight: 400;
		font-size: 150%;
		text-transform: uppercase;
	}
}

.notruf{
	margin: 1em 0;
	font-size: 150%;
	color: $primary-color;
	text-align: center;
}