._snippet-buero-sidebar{
		
		padding: 1em;
		background-color: #eee;
		
		a{ text-decoration: none; display: block;}

		strong{ display: block; }

		[itemprop="mail"] a{ text-decoration: underline; }

}