{% extends "container.twig" %}

{% block content %}

    {% if post.get_field('flexible-content') %}
        <section class="_module-flexible-content flexible-content">

            {% for content in post.get_field('flexible-content') %}

                <div class="flexible-content-layout">
                    {% include '_modules/_module-' ~ content.acf_fc_layout ~ '.twig' with {'post' : post, 'content':
                    content} %}
                </div>

            {% endfor %}

        </section>
    {% endif %}

{% endblock %}