{% extends "container.twig" %}

{% block content %}

    <section class="_module-impressum">
        {% include('_content/_content-impressum-tmg.twig') %}
        {% include('_content/_content-impressum-disclaimer.twig') %}
    </section>

{% endblock %}