{% extends "container.twig" %}

{% block content %}

    <div class="content-datenschutz-preambel">
        <strong>{{ datenschutz_preambel_title }}</strong>

        <p>{{ datenschutz_preambel }}</p>
    </div>

    <div class="content-datenschutz-analytics">
        <strong>{{ datenschutz_analytics_title }}</strong>

        <p>{{ datenschutz_analytics }}</p>
    </div>
{% endblock %}