{% extends "container.twig" %}

{% block content %}

    <div class="_content-404">
        <h1>{{ _e('Sorry') }},
            <small>{{ _e("we couldn't find what you're looking for") }}.</small>
        </h1>
    </div>
{% endblock %}