<div class="_content-home">

    {% include('_modules/_module-home-hero.twig') %}
    {% include('_modules/_module-content.twig') with {'displayTitle': false} %}
    {% include('_modules/_module-home-about.twig') %}
    {#{% include('_modules/_module-home-posts.twig') %}#}

</div>