._content-aktuelles{
	
}

.archive-entry{

	border-bottom: 1px solid #eee;
	margin-bottom: 2em;
	padding-bottom: 1.5em;
	
	h3{ margin-bottom: 0.5em; }
	p{ margin-bottom: 0;}
	a{ font-weight: bold; color: $primary-color;}
}

.cpt-query{
	
	@extend %clear;
	font-size: 75%;
	background-color: #eee;

	padding: 1.5em 0.5em 0.75em 0.5em;
	margin-bottom: 2em;

	form{ width: 50%; float: left; }
	
	ul{ @extend %clear; @extend %reset; }
	li{ width: 50%; float: left; }

	input[type="submit"]{
		background-color: $white;
		border: 1px solid #333;
		line-height: 1.5;
		padding: 0 0.75em;
		font-family: $primary-font;
	}

	select{ width: 75%; }

}