//@import "_typography/icomoon";
$primary-font: "Helvetica Neue", Helvetica, Arial, sans-serif;
$secondary-font: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;;
$monospace-font:"Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
$icon-font: 'icomoon';