body{
	font-family: $secondary-font;
	color: $grey-700;
}

h1, h2, h3, h4, ,h5, h6{
	font-family:$primary-font;
	font-weight: 400;
	letter-spacing: -0.025em;
	margin: 0;

}

h1, h2{ color: $primary-color; }
h3, h4, h5, h6{ color: #333; }

h1{
	font-size: 1.75em;
	@include breakpoint($breakpoint-small-medium) { font-size: 2.25em; }
	@include breakpoint($breakpoint-wide) { font-size: 2.875em; }
	
	strong{ 
		display: block; 
		@include breakpoint($breakpoint-medium) { display: inline; }
	}
}

h2{
	font-size: 1.25em;
	@include breakpoint($breakpoint-small-medium) { font-size: 1.75em; }
	@include breakpoint($breakpoint-wide) { font-size: 2em; }
	
	strong{ 
		display: block; 
		@include breakpoint($breakpoint-medium) { display: inline; }
	}
}