.nav-collapse ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: table;
  list-style: none;
}

.nav-collapse li {
  width: 100%;
  display: block;
}

.js .nav-collapse,
.js .nav-collapse .dropdown ul {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

.nav-collapse.opened,
.nav-collapse .dropdown.opened ul {
  max-height: 9999px;
}

.nav-collapse .dropdown.opened > ul,
.nav-collapse .dropdown .dropdown.opened > ul {
  position: relative;
}

.disable-pointer-events {
  pointer-events: none !important;
}

.nav-toggle{ @extend %clear; }

.nav-toggle,
.dropdown-toggle {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;

  display: block;
  text-decoration: none;
  text-align: center;
  
  padding: 1em 0;
  border: 1px solid #ddd;

  &:hover{ text-decoration: none; }

}

.nav-toggle.active{ border-bottom: 1px solid $white; }
.nav-collape.opened{ border: 1px solid #ddd; border-top: 1px solid $white; }

@include breakpoint($breakpoint-medium) {
  
  .js .nav-collapse { position: relative; overflow: visible; max-height: none; }
  .js .nav-collapse .dropdown ul{ max-height: none; position: absolute; overflow: visible; }
  .js .nav-collapse .dropdown:hover ul{ clip: auto; }
  .js .nav-collapse.closed,  .js .nav-collapse.closed .dropdown ul { max-height: none; }
  
  .nav-toggle, .dropdown-toggle { display: none; }
  
  .nav-collapse .menu { display: table; table-layout: fixed; width: 100%; }
  .nav-collapse .has-submenu { display: table-cell; }

  .nav-collapse li {
    width: auto;
    display: table-cell;
  }
}
