<div class="_global-header-logo">
    <a href="{{ site.url }}" rel="home">
        <img src="{{ theme.link }}/dest/img/global-header-logo.png"
             alt=""
             rel="logo"
             onerror="this.onerror=null; this.src='{{ theme.link }}/dest/img/global-header-logo.png'">
    </a>
</div>