<header class="_global-header" role="banner" id="top">
    <div class="_global-header-container">
        {% include('_globals/_global-header-logo.twig') %}
        {% include('_globals/_global-header-navigation.twig') %}
    </div>
</header>