<footer class="_global-footer" role="contentinfo" id="bottom">
    <div class="_global-footer-container">
        {% include('_globals/_global-footer-logo.twig') %}
        {% include('_modules/_module-businessinfo.twig') %}
        {% include('_globals/_global-footer-navigation.twig') %}
    </div>
    {% include('_globals/_global-footer-copyright.twig') %}
</footer>

{% include '_snippets/_snippet-analytics.twig' %}